[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faiss-cpu = "*"
flask = "*"
openai = "*"
transformers = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"

[dev-packages]

[requires]
python_version = "3.12"
